body {
	background-color: #4A525A;
}
#gamearea {
	width: 960px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	background-color: yellow;
}

.row {
	width: 960px;
	height: 48px;
	display: block;
}
.square {
	position: relative;
	float:left;
	width: 40px;
	height: 40px;
	background-color: gray;
	border-style: solid;
	border-color: black;
	margin: 1px;
	color: #EEE;
	font-family: "Verdana"; 
	font-size: 25px;
	text-align: center;
}
/*
.first {
	background-color: blue;
}
*/
#scorebox {
	font-family: sans-serif;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}

#answerbox {
	margin-top: 20px;
	text-align: center;
}

#answer {
/*	color: white;
*/	text-align: center;
	font-size: 25px;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border-color: black;
	-webkit-box-shadow: 2px 2px 2px 2px #000000;
	box-shadow: 2px 2px 2px 2px #000000;
/*	background-color: #444444;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
	background-image: -webkit-linear-gradient(top, #444444, #999999);
	background-image:    -moz-linear-gradient(top, #444444, #999999);
	background-image:      -o-linear-gradient(top, #444444, #999999);
	background-image:         linear-gradient(to bottom, #444444, #999999);*/

}
